@CHARSET "ISO-8859-1";

a:link{
	font-family: serif;
	font-size: +14px;
	font-weight: bold;
	text-decoration: none;
	color: #3243c4;
}

a:visited{
	font-family: serif;
	font-size: +14px;
	font-weight: bold;
	text-decoration: none;
	color: #3243c4;
}

a:hover{
	font-family: serif;
	font-size: +14px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

a.mylinkheader:link{
	font-family: arial;
	font-size: +14px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

a.mylinkheader:visited{
	font-family: arial;
	font-size: +14px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

a.mylinkheader:hover{
	font-family: arial;
	font-size: +14px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

a.mylinkheader.small:link{
	font-family: arial;
	font-size: +10px;
	font-weight: bold;
	text-decoration: none;
	color: #4433dd;
}

a.mylinkheader.small:visited{
	font-family: arial;
	font-size: +10px;
	font-weight: bold;
	text-decoration: none;
	color: #4433dd;
}

a.mylinkheader.small:hover{
	font-family: arial;
	font-size: +10px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

body{
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	
	background-color: #83d585;
}

.mymenu{
	background-color: #d5af83;
}

.mycaption{
	font-family: arial;
	font-size: +12px;
	font-weight: bold;
	color: #d4d981;
	text-decoration: none;
	background-color: #5ecb7a;
}

table.mycaption{
	font-family: arial;
	font-size: +12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #f3d0b6;
}

.mytitle{
	background-color: #e6f998;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
	color: #068e4f;
}

.mybox{
	background-color: #dbe5be;
}

.mycontent{
	background-color: #d4d981;
}

.mylabel{
	font-family: serif;
	font-size: +14px;
	font-weight: bold;
	text-decoration: none;
}

label{
	font-family: sans;
	font-size: +14px;
}

.mylabel.large{
	font-family: serif;
	font-size: +18px;
	font-weight: bold;
	text-decoration: none;
	color: #0000ff;
}

.mybutton{
	font-family: verdana;
	font-size: +11px;
	color: #000000;
	border-width: 1px;
	border-color: #996699;
	border-style: solid;
}

.mytextinput{
	font-family: verdana;
	font-size: +10px;
	color: #000000;
	border: 1px solid #5a6995;
	background-color: #ffffff;
}

.mytextinputfcs{
	font-family: verdana;
	font-size: +10px;
	font-weight: bold;
	color: #000000;
	border: 1px solid #5a6995;
	background-color: #cdbbbb;
}

.myerror{
	font-family: arial;
	font-size: +10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #f43c49;
}

.mysuccess{
	font-family: arial;
	font-size: +10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #75cb5e;
}

.myheader{
	background-color: #33cc55;
}

.myform{
	border: 2px #16cd41 solid;
	background-color: #edeae3;
}

.mytable_brw{
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	background-color: #666000;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

.mytable_brw td{
	background-color: #ffcc99;
	color: #000000;
	padding: 5px;
	text-align: left;
	border: 1px #ffffff solid;
	font-size: 12px;
	font-weight: bold;
}

td.mytable_cpt{
	background-color: #ff6600;
	color: #ffffff;
	padding: 4px;
	text-align: left;
	border-bottom: 2px #fff000 solid;
	font-size: 12px;
	font-weight: bold;
}

td.mytable_cnt{
	background-color: #5abaf1;
	color: #000000;
	padding: 4px;
	text-align: left;
	border-bottom: 2px #fff000 solid;
	font-family: arial;
	font-size: 10px;
}